* {
    margin: 0 auto;
    padding: 0;
    color: white;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    border-bottom: 1px solid white;
}

input::placeholder {
    color: white;
}

body {
    background-size: cover;
}

#clock {
    text-align: center;
    margin-top: 260px;
    font-size: 120px;
}

#login-form {
    text-align: center;
}

#login-form input:first-child {
    text-align: center;
    width: 180px;
    margin: 10px 15px 0 0;
    font-size: 20px;
    
}

#login-form input:last-child {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: white;
    color:#111111;
}

#greeting {
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: bold;    
}

#todo-form input {
    width: 280px;
    position: absolute;
    top: 430px;
    right: 20px;
}

#todo-list {
    position: absolute;
    top: 480px;
    left: 1630px;
    list-style: none;
}

#todo-list li {
    padding: 5px 0;
}

#todo-list span {
    border-bottom: 1px solid white;
}

#todo-list button {
    margin-left: 10px;
}

#quote {
    font-weight: bold;
    text-align: center;
    margin-top: 350px;
}

#quote span {
    font-size: 18px;
}

#weather {
    position: absolute;
    font-weight: bold;
    top: 20px; left: 20px;
    
}

.hidden {
    display: none;
}